<%- include('partials/header') %>

<header>
  <nav class="flex align-item-center">
    <div class="div-left">
      <img id="userimg" src="img/user.png" alt="logo" />
    </div>
    <div class="div-right flex">
      <div style="font-size: 14px">
        <a href="/logout" role="button"> Logout</a>
      </div>
    </div>
  </nav>
</header>
<div class="container flex column align-item-center">
  <div class="flex container-body-1">
    <div class="flex body-left align-item-center">
      <h1 class="">Detail</h1>
      <form action="/create" method="post" class="flex align-item-center">
        <div>
          <label for="" class="lab-home">Combo:</label>
          <input type="text" name="combo" class="input-home" />
        </div>
        <div>
          <label for="" class="lab-home">Email/Number:</label>
          <input type="text" name="emailnum" class="input-home" />
        </div>
        <div>
          <button type="submit" class="btn-home">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div></div>
</div>

<%- include('partials/footer') %>
