<%- include('partials/header') %>


    <header>
        <nav class="flex align-item-center">
            <div class="div-left">
                <img id="userimg" src="img/user.png" alt="logo">
            </div>
            <div class="div-right flex">
                <div style="font-size: 14px">
                    <a href="/"> Sign in</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container flex align-item-center justify-content">
        <div class="row ">
            <div class="innerdiv">
                <h2 class="heading1">Create your account</h2>
            </div>
            <form action="/signup" class="" method="post">
                <div class="flex column">
                    <label for="">email</label>
                    <input type="text" placeholder="Enter your email address" name="username">
                </div>
                <div class="flex column">
                    <label for="">password</label>
                    <input type="text" placeholder="Enter your password" name="password">
                </div>
                <button type="submit" class="btn-1">Sign up</button>
            </form>
            <hr>
            <div>
                <button type="button" class="google">
                    <a href="/auth/google">
                        <div class="div-gog">
                            <img class="img-gog"
                                src="https://ui-cdn.digitalocean.com/registration/0d877aa/static/media/oauth-logo-google.420169f299402ff6bd627eeff16bad0d.svg"
                                alt="">
                        </div>
                        Sign up with Google
                    </a>
                </button>
            </div>
        </div>
    </div>









    <%- include('partials/footer') %>